* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    /* background-color: #d9dcd6; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}
