* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* color:#000; */
}

body {
    /* background-color: #d9dcd6; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}
/* navbar  */
nav {
    background-color: #fff;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 20px;
    border-bottom: 1px #ccc solid;
}
nav .logo {
    display: flex;
    position: relative;
    align-items:center;
    width: 100%;
}

nav h1 {
    align-items: center;
    
}
nav p {
    font-size: 10px;
    text-decoration:overline;
    position: absolute;
    bottom: 6px;
    left: 73px
}

nav img {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50px;
    margin: 10px;
}
nav ul {
    list-style: none;
    display: flex;
}
a {
    color: #000;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color:#0171E3;
}
a:active {
    color: #0171E3;
}
/* header  */
header .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px; 
    min-height: 250px;
    background: url(../images/bg.jpg) no-repeat;
    background-size: 100% auto;
    background-position: center;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;

    /* margin-bottom: 750px; */
}
.button {
    background-color: rgb(14, 13, 13);
    color:#fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
}
.button:hover {
    background-color: #257CDD;
    color: #000;
}
.fix-me {
    position: fixed;
    top: 300px;
    background-color:rgb(100, 153, 252);
}
main .container {
    display: flex;
    flex-direction: column;
}

 .about-me {
    border-radius: 5px; 
    background-color: #FDFDFF;
    /* display: flex; */
    box-shadow: 0 3px 5px #333;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.about-me img {
    
    /* width: 200px; */
    max-height: 250px;
    border-radius: 5px;
    box-shadow: 0 3px 5px #333;

}
.about-me p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #6A6A6A;
    text-align: center;
}

.about-me .tablebox {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
[class^="tablebox-"] {
    display: flex;
    align-items: center;
}


/* Work class */
.experience {
    background: #FCFFF6;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 3px 5px #333;
}
[class^="workbox-"] p {
    color: #6A6A6A;
}

.experience h1 {
    text-align: center;
    font-weight: bold;
}
.myeducation {  
    background-color: #FDFDFF;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    text-align: right;
    box-shadow: 0 3px 5px #333;
    
}

.portfolio {
    background-color: #FCFFF6;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 3px 5px #333;
}
.portfolio .row {
    display: flex;
    flex-wrap: wrap;
    /* box-sizing: border-box; */
    justify-content: center;
}
.portfolio h3 {
   
}
.portfolio img {
   max-width: 33.33%;
}
.portfolio p {
   
}

/* contact  class */
.contact {
    background-color: #FDFDFF;
    border-radius: 5px;
    box-shadow: 0 3px 5px #333;
    margin: 20px;
}
.contact ul {
    list-style: none;
    padding-left: 10px;
}
.contact h1 {
    text-align: center;
}

[class^="workbox-"] h3{
    opacity: 80%;
    font-size:15px
}
[class^="workbox-"] h5{
    opacity: 50%;
    font-size:12px;
    padding-left: 10px;
}

/* footer */
footer .container {
    font-size: 10px;
    text-align: center;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ccc;
}

footer .social-media ul {
    display: flex;
    list-style: none;
    margin-bottom: 25px;
    font-size: 15px;
}
footer li {
    margin-right: 20px;
}
footer .copyright {
    align-items: right;
}
@media (max-width: 767px) {

    
}